name: CI

on: 
  push:
    branches:
    - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: Setup Dotnet
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '9.0.x'
          
    - name: Restore Solution
      run: dotnet restore Lucene.Net.IndexProvider.sln
      
    - name: Build Solution
      run: dotnet build Lucene.Net.IndexProvider.sln 
      
    - name: Test Solution
      run: dotnet test Lucene.Net.IndexProvider.sln
      
    - name: Publish Lucene.Net.IndexProvider
      uses: alirezanet/publish-nuget@v3.0.0
      with:
          PROJECT_FILE_PATH: Lucene.Net.IndexProvider/Lucene.Net.IndexProvider.csproj
          NUGET_KEY: ${{secrets.NUGET_API_KEY}}
          INCLUDE_SYMBOLS: true
